@import '~style/_setting.scss';
.inland {
  font-size: 22px;
  color: #666666;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 100px;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .map {
    position: relative;
    width: 664px;
    height: 543px;
    background: url('./../../../static/images/mineResources/chinamap.png') no-repeat;
    background-size: 664px 543px;
    z-index: -99;
    .hebei {
      display: block;
      position: absolute;
      top: 167px;
      left: 452px;
      width: 71px;
      height: 111px;
      background: url('./../../../static/images/mineResources/hebei.png') no-repeat;
      background-size: 71px 111px;
      z-index: 1;
    }
    .shandong {
      display: block;
      position: absolute;
      top: 230px;
      left: 464px;
      width: 101px;
      height: 66px;
      background: url('./../../../static/images/mineResources/shandong.png') no-repeat;
      background-size: 101px 66px;
      z-index: 1;
    }
    .sichuan {
      display: block;
      position: absolute;
      top: 294px;
      left: 255px;
      width: 145px;
      height: 131px;
      background: url('./../../../static/images/mineResources/sichuan.png') no-repeat;
      background-size: 145px 131px;
      z-index: 1;
    }
  }
  .img {
    margin-top: 150px;
    width: 234px;
    height: 400px;
    border: 1px solid $primary;
    li {
      a {
        position: relative;
        display: block;
        margin: 10px auto 0;
        width: 200px;
        height: 120px;
        img {
          display: block;
          width: 200px;
          height: 120px;
        }
        p {
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: 16px;
          color: #fff;
        }
      }
    }
  }
}