.mineDetail {
  width: 900px;
  height: 592px;
  .swiper-container{
    width: 700px!important;
    padding: 360px!important;
    z-index: 4;
  }
  .swiper-slide{
    width: 100%!important;
    margin-bottom: 20px;
    img {
      display: block;
      margin: 0 auto;
      width: 700px;
      height: 360px;
      margin-bottom: 72px;
    }
    .type-name {
     font-size: 22px;
     width: 700px;
     margin-left: 100px;
     color: #666;
    }
    .type-content {
      margin-left: 100px;
      width: 700px;
      font-size: 18px;
      line-height: 30px;
      color: #666;
    }
  }
  .swiper-button-prev{
    width: 30px;
    height: 66px;
    top: 30%;
    margin-left: 30px;
  }
  .swiper-button-next{
    width: 30px;
    height: 66px;
    top: 30%;
    margin-bottom: 160px;
    margin-right: 30px;
  }
}
.gallery-top {
  height: 80%!important;
  width: 100%;
}
.gallery-thumbs {
  height: 20%!important;
  box-sizing: border-box;
  padding: 10px 0;
  margin-bottom: 100px!important;
  img {
    width: 95%;
    height: 100%;
    opacity: 0.9;
  }
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}