.box-main {
  overflow: hidden;
  font-size: 0;
}
.box-1 {
  width: 600px;
  float: left;
}
.img-box {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  &:hover {
    span {
      display: block;
    }
  }
  img {
    display: block;
  }
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    height: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    background: rgba(0, 0, 0, .5);
  }
}
.box-2 {
  float: right;
  width: 300px;
  .img-box {
    margin-right: 0;
  }
}
.box-3 {
  width: 900px;
  .img-box {
    margin-right: 0;
    &:nth-child(2), &:nth-child(4), &:nth-child(7), &:nth-child(9), &:nth-child(11), &:nth-child(14), &:nth-child(16), &:nth-child(18) {
      margin-right: 10px;
    }
  }
}